body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./imgs/grassTile.png");
  background-repeat: repeat;
  overflow: hidden;
  z-index: -999;
}
.darkness {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  z-index: -99;
}
canvas {
  display: block;
  width: 500px;
  border: 2px grey solid;
  font-family: Courier, monospace;
}
.form-container-parent {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px grey;
  border-top-color: darkgray;
  border-left-color: darkgray;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;

  z-index: 99999;

  width: auto;
  height: auto;
  font-family: Courier, monospace;
}
.form-container {
  font-size: larger;
}

.form-container label {
  display: block;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.form-container input {
  display: block;
  margin: 0px 10px;
}

.form-container .button {
  justify-self: flex-end;
  margin: 20px;
  margin-bottom: 10px;
  padding: 2px;
}
.form {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.login-form {
  border-right: solid 1px black;
}
.backgrounded {
  background: linear-gradient(to top left, #0f0, rgba(255, 153, 150, 0), cyan),
    linear-gradient(to top right, magenta, rgba(255, 153, 150, 0), yellow)
      hsl(160, 100%, 50%);
}

.exit-form-button {
  margin: 5px;
  align-self: flex-end;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 450px) {
  canvas{
    width:100%;
    height: auto;
  }
  .form-container-parent{
    top: 50%;
    left: 50%;
  }

  .form-container {
    flex-direction: column;
  }
  .login-form {
    border-right: none;
    border-bottom: solid 1px black;
  }
}
